* {
  padding: 0;
  margin: 6px;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(49, 49, 49);
}

body{
  background-color: beige;
}

main {
  width: 80%;
  margin: 10vh auto;
}

p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

span {
    font-size: 18px;
    color: darkblue;
}

button {
  padding: 5px;
}

.ej-container {
    margin: 50px 0;
}
